<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AB || Movimientos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="shortcut icon" href="./assets/img/logoeditado.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/style/style2.css">
    <link rel="stylesheet" href="./assets/style/account.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

</head>
<body>
    <div id="app" class="divContenedor">
        <header class="naav d-flex align-items-center">
            <div class="navContainer">
                <div class="d-flex justify-content-center align-items-center gap-1 divHeader">
                    <img class="imgLogo" src="./assets/img/index/logoeditado3.gif" alt="logobanco">
                    <h1 class="headerTitulo animate__animated animate__zoomIn">Amathystbank</h1>
                </div>
                <div class="d-flex gap-4">
                    <label for="menu" class="navLabel">
                        <span class="material-symbols-outlined navIcon">menu</span>
                    </label>
                    <input type="checkbox" id="menu" class="navInput">
                    <div class="navMenu animate__animated animate__zoomIn pt-2">
<!--                         <a href="./index.html" class="navItem ">Inicio</a> -->
                        <a href="./accounts.html" class="navItem">Cuentas</a>
                        <a href="./cards.html" class="navItem">Mis tarjetas</a>
                        <a href="./transfers.html" class="navItem">Transferencias</a>
                    </div>
                    <button @Click.prevent="LogOut()" class="botones mt-1">Salir</button>
                </div>
            </div>
        </header>
        <div class="d-flex flex-column justify-content-between mainContainer">
            <main class="main">
                <div class="d-flex justify-content-center align-items-center pt-2 divSuperior flex-wrap">
                    <h2 class="ps-3 subTitulo">Lista de movimientos</h2>
                </div>
                <div class="d-flex justify-content-center">

                    <div class="p-4 d-flex flex-wrap justify-content-center accountContainer gap-3">
                        <div class="carousel">

                        </div>
                        <div class="animate__animated animate__fadeIn">
<!--                             <button @Click="modal = !modal">entrar</button> -->
                            <table class="tabla">
                                <thead>
                                    <tr>
                                        <th colspan="12" class="text-center tablaTitulo">Lista de movimientos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tablaFila1">
                                        <th colspan="3">Descripción</th>
                                        <th colspan="2">Fecha</th>
                                        <th colspan="2">Hora</th>
                                        <th colspan="2">Tipo</th>
                                        <th colspan="3">Monto</th>
                                    </tr>
                                    <tr class="tablaFila2" v-for="transaccion of transacciones">
                                        <td colspan="3" data-label="Descripción" class="tdHover">{{transaccion.description}}</td>
                                        <td colspan="2" data-label="Fecha" class="tdHover">{{modificarFecha(transaccion.date)}}</td>
                                        <td colspan="2" data-label="Hora" class="tdHover">{{modificarHora(transaccion.date)}}</td>
                                        <td colspan="2" data-label="Tipo" class="tdHover" v-if="transaccion.type == 'CREDIT'">Crédito</td>
                                        <td colspan="2" data-label="Tipo" class="tdHover" v-if="transaccion.type == 'DEBIT'">Debito</td>
                                        <td colspan="3" data-label="Monto" v-if="transaccion.type == 'CREDIT'" class="tablaVerde">{{modificarSaldo(transaccion.amount)}}</td>
                                        <td colspan="3" data-label="Monto" v-else-if="transaccion.type == 'DEBIT'" class="tablaRojo">{{modificarSaldo(transaccion.amount)}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>



                <div class="modal" :class="{'modalShow' : modal}">
                    <div class="modalContainer">
                        <div class="d-flex justify-content-end">
                            <span class="material-symbols-outlined cerrarModal" @click="modal = !modal">close</span>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center gap-3">
                            <p>dsadasdsadsa</p>
                        </div>
                        <h3>Select between dates</h3>
                        <div class="mb-3">
                          <input type="datetime-local" class="form-control date"  v-model="dateFrom">
                          <input type="datetime-local" class="form-control date" v-model="dateTo">
                        </div>
                        <button @click="downloadPDF">Download</button>
                    </div>
                </div>

                
            </main>
            <footer class="footer" data-aos="fade-up" data-aos-duration="2000">
                <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C218.68,174.19 409.99,-10.34 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #4f24b4;"></path></svg></div>
                <div class="footer2 d-flex p-4 justify-content-center flex-wrap footerContainer" >
                    <div class="d-flex flex-column align-items-center gap-3">
                        <h4 class="footerTitulo">Unite!</h4>
                        <a href="https://www.apple.com/la/app-store/" target="_blank"><img class="imgStore" src="./assets/img/logosAppleStores.png" alt="appstore"></a>
                        <a href="https://play.google.com/" target="_blank"><img class="imgStore" src="./assets/img/logosPlayStores.png" alt="playstore"></a>
                    </div>
                    <div class="d-flex flex-column gap-1">
                        <h4 class="footerTitulo pb-3">¡Contactanos!</h4>
                        <p class="footerText">De Lunes a Viernes de 08 a 20 hs</p>
                        <div class="mb-3">
                            <p class="footerText">A nuestro centro de atención al cliente:</p>
                            <div class="d-flex align-items-center gap-1">
                                <span class="material-symbols-outlined iconColorFooter">call</span>
                                <a class="footerAncor2" href="tel:+08003330500">0800-333-0500</a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="footerText">Denuncias Mastecard (crédito):</p>
                            <div class="d-flex align-items-center gap-1">
                                <span class="material-symbols-outlined iconColorFooter">call</span>
                                <a class="footerAncor2" href="tel:+01145405800">(011) 4540-5800</a>
                            </div>
                        </div>
                        <div class="mb-2">
                            <p class="footerText">Denuncias visa (crédito):</p>
                            <div class="d-flex align-items-center gap-1">
                                <span class="material-symbols-outlined iconColorFooter">call</span>
                                <a class="footerAncor2" href="tel:+01144593333">(011) 4459-3333</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-1">
                            <span class="material-symbols-outlined iconColorFooter">mail</span>
                            <a class="footerAncor2" href="mailto:amathyst@gmail.com">amathystbank@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="footer3 d-flex justify-content-around align-items-center flex-wrap pt-4 pb-4">
                    <div class="d-flex gap-4">
                        <a href="https://www.instagram.com/" target="_blank"><img class="imgFooter" src="./assets/img/iiinstaa.png" alt="instagram"></a>
                        <a href="https://twitter.com/home" target="_blank"><img class="imgFooter" src="./assets/img/ttwiterr.png" alt="twitter"></a>
                        <a href="https://www.facebook.com/" target="_blank"><img class="imgFooter" src="./assets/img/faceboook.png" alt="facebook"></a>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <p class="footerText2">© 2022 Homebanking S.A. Todos los derechos Reservados.</p>
                        <a href="#"><span class="material-symbols-outlined footerHome">house</span></a>
                    </div>
                    <div class="d-flex gap-3 align-items-center divCohort">
                        <img class="cohort" src="./assets/img/mindhub.jpg" alt="mindhub">
                        <p class="footerText2">Cohort 34</p>
                    </div>
                </div>
    
    
            </footer>
        </div>      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="./js/account.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>
</html>