.cuerpoPagina{
    min-height: 75vh;
}
.imagen{
    width: 90vw;
    max-width: 700px;
    border-radius: 0.5rem;
    border: 3px #7b4aee solid;
    background-color: white;
}
.contenedorFormulario{
    background-color: white;
    width: 90vw;
    max-width: 800px;
    min-height: 20vh;
    border: rgb(236, 236, 236) 1px solid;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(20, 20, 20, 0.16);
    box-shadow: 0 3px 2.94px 1px rgba(3, 3, 3, 0.16);
}
.formularioDestino{
    background-color: rgb(214, 214, 214);
    border: rgb(221, 221, 221) 1px solid;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(20, 20, 20, 0.16);
    box-shadow: 0 3px 2.94px 1px rgba(3, 3, 3, 0.16);
}
.formularioOpciones{
    width: 90%;
}
.inputForm{
    width: 240px !important;
}
.imgGif{
    width: 60px;
    padding-bottom: 20px;
}
.imgGif2{
    width: 30px;
    padding-bottom: 15px;
}
.titulos{
    font-size: 1.5rem;
    font-weight: 600;
    color: #7b4aee;
}
.labelForm{
    font-size: 1.15rem;
    font-weight: 600;
}
.saldo{
    border: 1px rgb(199, 199, 199) solid;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    color: rgb(53, 155, 53);
}
.botonForm{
    width: 75%;
    padding: 0.2rem;
    border: #7b4aee 2px solid;
    border-radius: 0.5rem;
    background-color: #ffffff;
    transition: 0.5s;
    font-size: 1.2rem;
    font-weight: 500;
}
.botonForm:hover{
scale: 1.05;
background-color: #7b4aee;
color: white;   
}
.inputRadio:focus{
    background: #9c7de6;
}
.inputRadio:checked + .labelRadio{
    font-weight: bold;
}
.animate__animated.animate__fadeIn{
    --animate-duration: 3s;
}
.footerContainer{
    gap: 25rem;
}

@media screen and (min-width:700px){
    .cuerpoFormulario{
        flex-direction: row !important;
        flex-wrap: wrap;
        align-items: flex-start !important;
        gap: 3rem !important;
    }
  } 